$mainColor: #fab005;
$grayColor: #ccc;
$dangerColor: rgb(255, 14, 14);

// common
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
li {
  list-style: none;
}
input {
  flex-grow: 1;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid $grayColor;
  font-size: 1em;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  &.primary {
    background-color: $mainColor;
    color: #fff;
  }
  &.gray {
    background-color: $grayColor;
  }
  &:hover {
    opacity: 0.6;
  }
  &.icon_btn {
    background-color: transparent;
    color: #555;
  }
  &.icon_btn.primary {
    background-color: transparent;
    color: $mainColor;
  }
  &.icon_btn.danger {
    background-color: transparent;
    color: $dangerColor;
  }
  &.icon_btn.gray {
    background-color: transparent;
    color: $grayColor;
  }
  &.disabled {
    opacity: 0.7;
    cursor: inherit;
  }
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;

  div.inner {
    min-width: 590px;
    background-color: #fff;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px #ccc;
    position: relative;
    // header
    header {
      padding: 30px;
      border-bottom: 2px solid #f4f4f4;
      h4 {
        font-size: 1.6em;
      }
      p {
        color: #666;
        margin-bottom: 20px;
      }
      span {
        color: $mainColor;
      }
    }
  }
}
