$mainColor: #fab005;
$grayColor: #ccc;
$dangerColor: rgb(255, 14, 14);

// common
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
li {
  list-style: none;
}
input {
  flex-grow: 1;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid $grayColor;
  font-size: 1em;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  :focus {
    border: none;
    outline: $mainColor;
  }
  &.primary {
    background-color: $mainColor;
    color: #fff;
  }
  &.gray {
    background-color: $grayColor;
  }
  &.border {
    border: 1px solid #555;
  }
  &.border_primary {
    border: 1px solid $mainColor;
  }
  &:hover {
    opacity: 0.6;
  }
  &.icon_btn {
    background-color: transparent;
    color: #555;
  }
  &.icon_btn.primary {
    background-color: transparent;
    color: $mainColor;
  }
  &.icon_btn.danger {
    background-color: transparent;
    color: $dangerColor;
  }
  &.icon_btn.gray {
    background-color: transparent;
    color: $grayColor;
  }
  &.disabled {
    opacity: 0.7;
    cursor: inherit;
  }
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;

  div.inner {
    min-width: 590px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 5px 5px #ccc;
    position: relative;
    overflow: hidden;
    // header
    header {
      padding: 30px 30px 15px 30px;
      // border-bottom: 2px solid #f4f4f4;
      h4 {
        font-size: 1.6em;
      }
      p {
        color: #666;
        margin-bottom: 20px;
      }
      span {
        color: $mainColor;
      }
      > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
// CreateTodo
.create_todo_wrapper {
  width: 100%;
  padding: 1em 2em;
  form {
    display: flex;
    align-items: center;
    height: 40px;
    input {
      height: 40px;
      border: none;
      border: 1px solid #eee;
      padding: 0 1em;
      border-radius: 25px 0 0 25px;
      &:focus {
        border: 1px solid $mainColor;
      }
    }
    button {
      height: 100%;
      padding: 10px 20px;
      background-color: $mainColor;
      color: #fff;
      border-radius: 0 25px 25px 0;
    }
  }
  .error_msg {
    font-size: 0.8em;
    color: $dangerColor;
  }
}
// TODO LIST
.empty-todo {
  padding: 30px 0;
  text-align: center;
  h4 {
    font-weight: normal;
    color: $mainColor;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 0.9em;
    color: #666;
  }
  .tool-tip-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    padding-top: 2em;
    .tool-tip-btn {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.todo-list {
  padding: 20px 30px;
  max-height: 40vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #a1a1a1;
  }
}

// TODO ITEM
.todo-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  p {
    width: 360px;
    transition: 0.3s;
  }

  // checkbox custom
  .checkbox {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin-right: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    input[type="checkbox"]:checked + label {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $mainColor;
      font-size: 12px;
      color: $mainColor;
    }
  }

  p {
    flex-grow: 1;
  }
  //   할일 완료 스타일
  &.done {
    p {
      color: #ccc;
      text-decoration: line-through;
    }
  }
}
.feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #f4f4f4;
  padding: 6px 25px;
  fieldset {
    display: flex;
    gap: 6px;
    border: none;
    // FilterRadio
    .filter-radio {
      input[type="radio"] {
        vertical-align: middle;
        width: 0;
        height: 0;
      }
      label {
        display: inline-block;
        border-radius: 8px;
        padding: 4px 8px;
        font-size: 0.8em;
        color: $grayColor;
        transition: all 0.3s;
      }
      label:hover,
      input[type="radio"]:checked + label,
      input[type="radio"]:focus + label {
        color: #555;
      }
      input[type="radio"]:disabled + label,
      input[type="radio"]:disabled + label:hover {
        color: $grayColor;
        cursor: initial;
      }
      label {
        cursor: pointer;
      }
    }
  }
}

// Welcome
.welcome-tip-wrapper {
  width: 100%;
  max-width: 650px;
  height: 100%;
  background-color: #6e6e6e;
  .btn {
    color: #fff;
    font-size: 1em;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }
  img {
    width: 100%;
  }
}
